---
import '@/sections/projects/card-project.scss';

import Python from '@/icons/Python.astro';
import Streamlit from '@/icons/Streamlit.astro';
import AstroIcon from '@/icons/AstroIcon.astro';
import Tailwind from '@/icons/Tailwind.astro';
import TypeScript from '@/icons/TypeScript.astro';

import type { TagKey } from '@/core/types/projects';
import projects from '@/core/data/projects';

const TAGS: Record<TagKey, { icon: any }> = {
  PYTHON:   { icon: Python },
  STREAMLIT:{ icon: Streamlit },
  TAILWIND: { icon: Tailwind },
  TYPESCRIPT:{ icon: TypeScript },
  NAVE:     { icon: AstroIcon },
};
--- 

<section class="projects__container" aria-labelledby="projects-title">
  {projects.map(({ title, description, tags, image, link }) => (
    <ul class="projects__items">
      <li class="projects__cards">
        {link ? (
            <a href={link} target="_blank" rel="noopener noreferrer" aria-label={`Abrir ${title} en nueva pestaña`}>
              <figure class="projects__figure">
                <picture class="projects__figure-picture">
                  <img
                    src={image}
                    alt={`Imagen del proyecto: ${title}`}
                    class="projects__figure-img"
                    loading="lazy"
                  />
                </picture>

                <figcaption class="projects__figure-caption">
                  <h3 class="projects__figure-title">{title}</h3>
                  <p class="projects__figure-description">{description}</p>

                  <div class="projects__figure-icons" role="list" aria-label="Tecnologías usadas">
                    {tags.map((tag) => {
                      const Icon = TAGS[tag].icon;
                      return <Icon class="projects__figure-icon" role="img" aria-label={tag} />;
                    })}
                  </div>
                </figcaption>
              </figure>
            </a>
          ) : (
            <div>
              <figure class="projects__figure">
                <picture class="projects__figure-picture">
                  <img
                    src={image}
                    alt={`Imagen del proyecto: ${title}`}
                    class="projects__figure-img"
                    loading="lazy"
                  />
                </picture>

                <figcaption class="projects__figure-caption">
                  <h3 class="projects__figure-title">{title}</h3>
                  <p class="projects__figure-description">{description}</p>

                  <div class="projects__figure-icons" role="list" aria-label="Tecnologías usadas">
                    {tags.map((tag) => {
                      const Icon = TAGS[tag].icon;
                      return <Icon class="projects__figure-icon" role="img" aria-label={tag} />;
                    })}
                  </div>
                </figcaption>
              </figure>
            </div>
          )}
        </li>
    </ul>
  ))}
</section>
