---
import type { Service } from "@/core/types/Services";
import services from "@/core/data/services";
import "@/sections/services/service-card.scss";
import Settings from "@/icons/Settings.astro";

const typedServices: Service[] = services;
---

<section class="services" aria-labelledby="services-title">
   <article class="services__title">
      <Settings aria-hidden="true" />
      <h2 id="services-title">Servicios</h2>
   </article>

   <ul class="services__list">
      {typedServices.map((service) => (
         <li class="services__item">
            <article class="service_card" aria-labelledby={`${service.slug}-title`}>
               {service.icon && (
                  <span aria-hidden="true">{service.icon}</span>
               )}
               <h3 id={`${service.slug}-title`} class="service__card-title">
                  {service.title}
               </h3>
               <p class="service__card-description">
                  {service.summary}
               </p>              
            </article>
         </li>
      ))}
   </ul>
</section>
