---
import '@/features/experience/experience.scss';
import { experience } from "@/features/experience/data/experience";
---

<ul class="experience-card">
  {experience.map((exp) => (
    <li class="experience-card__item">
      <a href="https://www.ezequielsuarez-dev.com/" class="experience-card__link">
        <article class="experience-card__content">
          <div class="experience-card__section experience-card__section--primary">
            <h3 class="experience-card__company">{exp.company}</h3>
            {exp.primaryInfo.map((item) => (
              <p class="experience-card__info" set:html={item}></p>
            ))}
          </div>

          <div class="experience-card__section experience-card__section--secondary">
            <article class="experience-card__details">
              <div class="experience-card__header">
                <span class="experience-card__role">{exp.role}</span>
                <span class="experience-card__time">{exp.time}</span>
              </div>
              {exp.secundaryInfo.map((item) => (
                <p class="experience-card__description" set:html={item}></p>
              ))}
            </article>
          </div>
        </article>
      </a>
  </li>
  ))}
</ul>
