---
import '@/sections/experience/experience.scss'
import { experience } from "@/core/data/experience";
---
 
<ol class="timeline">
  {experience.map((exp) => (
    <li class="timeline__item">
      <div class="timeline__marker"></div>

      <div class="timeline__sumary">
        <p class="timeline__sumary-p">
          <span>{exp.time} - </span>
          <span>{exp.timeStatus}</span>
        </p>
      </div>

      <div class="timeline__title">
        <h2>{exp.title}</h2>
        <p>{exp.company}</p>
      </div>

      <div class="timeline__description">
        {exp.description.map((item) => (
          <p class="timeline__description--item" set:html={item}></p>
        ))}
      </div>

      <div class="timeline__skills">
        <h3 class="timeline__skills-h3">Tecnologías</h3>
        <p class="timeline__list">
          {exp.skills.map((skill) => (
            <span class="timeline__list--items">{skill}</span>
          ))}
        </p>
      </div>
    </li>
  ))}
</ol>
