---
import '@fontsource-variable/onest';
import '@/shared/styles/base/_reset.scss';
import '@/shared/styles/base/_global.scss';


interface Props {
	title: string
    description: string
}

const { title, description } = Astro.props;
---
 
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
    	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<title>{title}</title>
		<meta name="description" content={description} />
		<meta name="keywords" content="Front-End, Desarrollo Web, Astro, React, Sass, TypeScript, Python, FastAPI,  MySQL, Analisis de Datos, Programador, Ezequiel Suarez">
		
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.ezequielsuarez-dev.com/" />

		<link rel="icon" type="image/x-icon" href="/img/logo/logotipo.ico" />
		<meta property="og:image" content="/img/logo/logotipo.ico" />
		<link rel="canonical" href="https://www.ezequielsuarez-dev.com/" />
	</head>
	
	<body>
		<slot />
	</body>

	<script src="@/core/js/index.js" ></script>
</html>